spring:
  profiles:
    active: local
  application:
    name: drawio-backend
  # Spring Session 配置
  session:
    store-type: redis  # 使用 Redis 存储 Session
    timeout: 604800     # Session 过期时间: 7天 (单位:秒)
    redis:
      namespace: spring:session:drawio  # Redis key 的命名空间
  # Redis 配置
  data:
    redis:
      password: E628L1..3K220
      host: 47.95.35.178
      port: 6379
      database: 4
      # 连接池配置
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
server:
  port: 8081
  servlet:
    context-path: /api
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: false
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.wfh.drawio.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: false
  setting:
    language: zh_cn
